{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center; margin-bottom:20px; margin:10px;">{% block title %} Sensordata for leiligheten {% endblock %}</h1>
    <div style="clear: both"><h2 style="float: left">Temperatur:&nbsp;&nbsp;</h2><h2 style="color:green;">  {{ sensordata.temperature_now }} C</h2></div>
    <div style="clear: both"><h2 style="float: left">Fuktighet:&nbsp;&nbsp;</h2><h2 style="color:green">  {{ sensordata.humidity_now }} %</h2></div>


    <div style="clear: both">
        <h5 style="float: left">PM1.0 ug/m3 (ultrafine particles):&nbsp;&nbsp;</h5>
        <h6 {% if sensordata.pm1_now == "Sensor offline" %} style="color:red" {% else %} style="color:green" {% endif %} >
                {{ sensordata.pm1_now }}
        </h6>
    </div>

    <div style="clear: both">
        <h5 style="float: left">PM2.5 ug/m3 (combustion particles, organic compounds, metals):&nbsp;&nbsp;</h5>
        <h6 {% if sensordata.pm2_5_now == "Sensor offline" %} style="color:red" {% else %} style="color:green" {% endif %} >
                {{ sensordata.pm2_5_now }}
        </h6>
    </div>

    <div style="clear: both">
        <h5 style="float: left">PM10 ug/m3  (dust, pollen, mould spores):&nbsp;&nbsp;</h5>
        <h6 {% if sensordata.pm10_now == "Sensor offline" %} style="color:red" {% else %} style="color:green" {% endif %} >
                {{ sensordata.pm10_now }}
        </h6>
    </div>

    <div class="chart-container">
        <canvas id="tempChart"></canvas>
    </div>
    
    <div class="chart-container">
        <canvas id="humChart"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="pmchart"></canvas>
    </div>



    <script> 
        var ctx = document.getElementById('tempChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels : [{% for item in sensordata.templabels %} 
                        "{{item}}",
                        {% endfor %}],
                datasets : [{
                    label: 'Temperatur siste 48 timer',
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 5,
                    data : [{% for item in sensordata.tempvalues %}
                                {{item}},
                            {% endfor %}],
                    spanGaps: false
                }]
            },
            
            options: {
            responsive: true,
            scales: {
                xAxes: [{
                    ticks: {
                        display: true,
                        align: 'end',
                        beginAtZero: true,
                        maxTicksLimit: 12,
                    }
                }]
            }
        }

        });
    </script>

    <script>
            
        var ctx = document.getElementById('humChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels : [{% for item in sensordata.humlabels %}
                        "{{item}}",
                        {% endfor %}],
                datasets : [{
                    label: 'Fuktighet siste 48 timer',
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data : [{% for item in sensordata.humvalues %}
                                {{item}},
                            {% endfor %}],
                    spanGaps: false
                }]
            },

            options: {
            responsive: true,
            scales: {
            xAxes: [{
                ticks: {
                    maxTicksLimit: 12,
                    }
                }]
            }
        }

        });
    </script>

<script> 
    var ctx = document.getElementById('pmchart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels : [{% for item in sensordata.pmlabels %}
                    "{{item}}",
                    {% endfor %}],
            datasets : [{
                label: 'PM1',
                pointBorderColor: "rgba(140, 211, 135, 1)",
                borderColor: "rgba(140, 211, 135, 1)",
                borderJoinStyle: 'miter',
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(140, 211, 135, 1)",
                pointHoverBorderColor: "rgba(140, 211, 135, 1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                fill: false,
                data : [{% for item in sensordata.pm1 %}
                            {{item}},
                        {% endfor %}],
                spanGaps: false
            },
            {
                label: 'PM2.5',
                fill: false,
                pointBorderColor: "rgba(200, 100, 100, 1)",
                borderColor: "rgba(200, 100, 100, 1)",
                borderJoinStyle: 'miter',
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(200, 100, 100, 1)",
                pointHoverBorderColor: "rgba(200, 100, 100, 1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in sensordata.pm2_5 %}
                            {{item}},
                        {% endfor %}],
                spanGaps: false
            },
            {
                label: 'PM10',
                fill: false,
                pointBorderColor: "rgba(62, 92, 212, 1)",
                borderColor: "rgba(62, 92, 212, 1)",
                borderJoinStyle: 'miter',
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(62, 92, 212, 1)",
                pointHoverBorderColor: "rgba(62, 92, 212, 1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in sensordata.pm10 %}
                            {{item}},
                        {% endfor %}],
                spanGaps: false
            }]
        },
        
        options: {
        responsive: true,
        scales: {
            xAxes: [{
                ticks: {
                    display: true,
                    align: 'end',
                    beginAtZero: true,
                    maxTicksLimit: 12,
                }
            }]
        }
    }

    });
</script>


{% endblock %}